create table @Model.Name (
@for (int i = 0; i < Model.Columns.Count; i++){
@dbullet.core.engine.MsSql.MsSqlTemplateManager.BuildColumnCreateCommand(Model.Columns[i])
@(i != Model.Columns.Count - 1 ? ", " : "")
}
@{var pk = Model.Columns.FirstOrDefault(p => p.Constraint != null);}
@if (pk != null){
@:, constraint @pk.Constraint.Name primary key clustered(@pk.Name asc) with (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
}
) on [@Model.PartitionName]