<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<targets>
			<target name="asyncConsole" xsi:type="AutoFlushWrapper">
				<target xsi:type="ColoredConsole" name="console" layout="${logger}: ${message}${exception:format=ToString,StackTrace}"></target>
			</target>
			<target name="asyncFile" xsi:type="AutoFlushWrapper">
				<target xsi:type="File" fileName="dbullet.executor.log" />
			</target>
		</targets>

		<rules>
			<logger name="*" minlevel="Debug" writeTo="asyncConsole" />
			<logger name="*" minlevel="Debug" writeTo="asyncFile" />
		</rules>
	</nlog>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
